@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0px;
}

::placeholder {
  text-align: center;
}

* {
  font-family: 'Righteous', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    height: 100vh;
    width: 300px;
    background-color: rgb(223, 217, 217);
    font-size: 36px;
}

.project-container {
    display: none;
}

.project-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.input-form {
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 100%;
    font-size: 24px;
    box-shadow: 5px 5px 10px #2c2b2b;
}

.submit-btn {
  border: none;
  background-color: rgb(145, 219, 145);
  font-size: 24px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 2px 2px 5px #2c2b2b;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(102, 151, 102);
  color: white;
  transition: 0.3s ease-in;
}

.submit-btn:active {
  background-color: rgb(102, 151, 102);
  color: white;
  transform: translateY(.2rem);
  transition: 0.1s ease-in;
}

.task-window {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 10px 20px #2c2b2b inset;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.task {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: rgb(223, 217, 217);
    border-radius: 10px;
    position: relative;
    font-size: 36px;
}

.task-open {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: rgb(223, 217, 217);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    font-size: 36px;
}

.warning {
    display: none;
    color: red;
}

.dropdown-menu {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
  }
  
.dropdown-menu-open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 200px;
    background-color: rgb(223, 217, 217);
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s ease;
  }

.dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    font-size: 24px;
    font-family: 'Comfortaa', sans-serif;
  }

  .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 15px;
    font-size: 24px;
    font-family: 'Comfortaa', sans-serif;
  }

  .input-todo {
    max-height: 0;
    overflow: hidden;
  }

  .input-todo-show {
    display: flex;
    max-height: 100px;
    gap: 20px;
  }

  .todo_container {
    display: flex;
  }

  .checklist {
    display: flex;
    width: 100%;
    gap: 20px;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
  }

  .new-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }