@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.container {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    height: 100vh;
    width: 200px;
    background-color: rgb(223, 217, 217);
}

.project-container {
    display: none;
}

.project-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form {
    border-radius: 10px;
    height: 20px;
}

.task-window {
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.task {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    font-size: 24px;
}

.task-open {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    font-size: 24px;
}

.warning {
    display: none;
    color: red;
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
.dropdown-menu-open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 200px;
    background-color: white;
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease;
  }

.dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    font-size: 24px;
    font-family: 'Comfortaa', sans-serif;
  }

  .input-todo {
    max-height: 0;
    overflow: hidden;
  }

  .input-todo-show {
    max-height: 100px;
  }

  .todo_container {
    display: flex;
  }

  .checklist {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }